{% extends 'security-user/base.html.twig' %}

{% block content %}

<form action="{{ path('security_user_login') }}" method="post" class="form-signin">

    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class=" wrapper-login d-flex flex-column justify-content-around align-items-center">
        
        <h1 class="title-login h3 mb-3 font-weight-normal text-center">Connexion utilisateur</h1>
       
        <input type="text" id="inputName" class="form-control" placeholder="Entrez votre nom d'utilisateur" value="{{ last_username }}"
            name="_username" required autofocus>
        
        <input type="password" id="inputPassword" class="form-control" placeholder="Entrez votre mot de passe" name="_password"
            required>
       
        </div> 
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}" > #}
        {# <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to')}}" > #}
    </div>

    {# <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p> #}
   
</form>




{% endblock %}