{% extends "vesoul-edition/base.html.twig" %}


{% block content %}

    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3 align-items-start">
            <ul>
                <a class="list" href="{{ path('dashboard_user_informations' )}}">
                    <li>INFORMATIONS</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_addresses' )}}">
                    <li>ADRESSES</li>
                </a>
                <a class="list active" href="{{ path('dashboard_user_commands' )}}">
                    <li>COMMANDES</li>
                </a>
            </ul>
        </nav>
        
        <div id="adresses-compte" class="col-9 d-flex justify-content-center">

            <div class="wrapper-adresses d-flex flex-wrap justify-content-center">

                
                {% for commande in commandes %}

                    <p>{{ commande.date }} {{ commande.number }} {{ commande.quantity }} {{ commande.totalcost }} {{ commande.state }}</p>

                {% endfor %}


            </div>


        </div>

    </div>


{% endblock %}