{% extends "vesoul-edition/base.html.twig" %}


{% block content %}

    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3 align-items-start">
            <h2 class="text-center">Mon compte</h2>
            <ul>
                <a class="list" href="{{ path('dashboard_user_informations' )}}">
                    <li>INFORMATIONS</li>
                </a>
                <a class="list active" href="{{ path('dashboard_user_addresses' )}}">
                    <li>ADRESSES</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_commands' )}}">
                    <li>COMMANDES</li>
                </a>
            </ul>
        </nav>
        
        <div id="adresses-compte" class="col-9 d-flex justify-content-center">

            <div class="wrapper-adresses d-flex flex-wrap justify-content-center">

            <div class="title-wrapper">
                <div class="title-compte">
                    <h2>Mon carnet d'adresses</h2>
                </div>
            </div>

            {% for adresse in adresses %}

                <div class="col-12 list-adresse card mt-2 mb-2 ml-2 mr-2 pt-4 pb-4 pl-4 pr-4 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                            <h3 class="align-self-start">Maison</h3>
                            <div class="d-flex align-items-center">
                                <p class="mr-2"><i class="fas fa-user"></i></p>
                                <div class="d-flex flex-column">
                                    <p>Jean</p>
                                    <p>Pierre</p>
                                </div>
                            </div>
                        </div>   
                        <div class="col-4 pl-5">
                            <p>{{ adresse.number }} {{ adresse.type }} {{ adresse.street }}</p>
                            <p>{{ adresse.additional }}</p>
                            <p>{{ adresse.cp }} {{ adresse.city }}</p>
                            <p class="mb-0">{{ adresse.country }}</p>
                        </div>
                        <div class="d-flex justify-content-end col-4">
                            <button class="align-self-end btn edit-address mr-2">Modifier</i></button>
                            <button class="align-self-end btn delete-address"><i class="fas fa-trash trash-address"></i></button>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="nouvelle-adresse col-12 list-adresse card mt-2 mb-2 ml-2 mr-2 pt-4 pb-4 pl-4 pr-4 d-flex justify-content-center">

                <div class="row">
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <p class="mb-0">Nouvelle adresse</p>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <i class="add-address fas fa-plus-circle fa-5x"></i>
                    </div>
                </div>

            </div>


        </div>

    </div>


{% endblock %}