{% extends "vesoul-edition/base.html.twig" %}


{% block content %}

    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3 align-items-start">
            <h2 class="text-center">Mon compte</h2>
            <ul>
                <a class="list" href="{{ path('dashboard_user_informations' )}}">
                    <li>INFORMATIONS</li>
                </a>
                <a class="list active" href="{{ path('dashboard_user_addresses' )}}">
                    <li>ADRESSES</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_commands' )}}">
                    <li>COMMANDES</li>
                </a>
            </ul>
        </nav>
        
        <div id="adresses-compte" class="col-9 d-flex justify-content-center">

            <div class="wrapper-adresses d-flex flex-wrap justify-content-center">

            {% for adresse in adresses %}

                <div class="col-5 list-adresse card mt-2 mb-2 ml-2 mr-2 pt-4 pb-4 pl-4 pr-4">
                        <p><span>Adresse :</span> {{ adresse.number }} {{ adresse.type }} {{ adresse.street }}</p>
                        <p><span>Ville :</span> {{ adresse.city }}</p>
                        <p><span>Code postal :</span> {{ adresse.cp }}</p>
                        <p><span>Pays :</span> {{ adresse.country }}</p>
                        <p class="mb-0"><span>Additionnel :</span> {{ adresse.additional }}</p>
                        <div class="d-flex justify-content-end mt-4">
                            <button class="align-self-end btn edit-address mr-2"><i class="fas fa-pencil-alt pen-address"></i></button>
                            <button class="align-self-end btn delete-address"><i class="fas fa-trash trash-address"></i></button>
                        </div>
                </div>

            {% endfor %}

            </div>


        </div>

    </div>


{% endblock %}