{% extends "vesoul-edition/base.html.twig" %}


{% block content %}

    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3">
            <ul>
                <a class="list" href="{{ path('dashboard_user_informations' )}}">
                    <li>INFORMATIONS</li>
                </a>
                <a class="list active" href="{{ path('dashboard_user_addresses' )}}">
                    <li>ADRESSES</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_commands' )}}">
                    <li>COMMANDES</li>
                </a>
            </ul>
            <div class="space"></div>
        </nav>
        
        <div id="adresses-compte" class="col-9 d-flex justify-content-center">

            <div class="wrapper-adresses d-flex flex-wrap justify-content-center">

            {% for adresse in adresses %}

                <div class="col-5 list-adresse card mt-2 mb-2 ml-2 mr-2 pt-2 pb-2 pl-2 pr-2">
                    <p>{{ adresse.number }} {{ adresse.type }} {{ adresse.street }}</p>
                    <p>{{ adresse.city }}</p>
                    <p>{{ adresse.cp }}</p>
                    <p>{{ adresse.country }}</p>
                    <p class="mb-0">{{ adresse.additional }}</p>
                </div>

            {% endfor %}

            </div>


        </div>

    </div>


{% endblock %}