<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        
    </style>
</head>

<body>
    <h1>Facture</h1>

        <p><strong>{{ boutiqueNom }}</strong></p>
        <p>{{ boutiqueLibelle }}</p>
        <p>{{ boutiqueCp }}</p>
        <p>{{ boutiqueVille }}</p>
        <p>{{ boutiquePays }}</p>
        <p>{{ boutiqueTelephone }}</p>


        <p>Numéro de commande : {{ commandNumero }}-IT</p>
        <p>Date de commande : {{ commandDate|date("d/m/y") }}</p>
        <h2>Facturation</h2>
        <p>{{ afPrenom }} {{ afNom }}</p>
        <p>{{ afNumero }} {{ afType }} {{ afRue }} {{ afComplement }}, </p>
        <p>{{ afVille }} {{ afCp }}, {{ afPays }}</p>
        <h2>Livraison</h2>
        <p>{{ alPrenom }} {{ alNom }}</p>
        <p>{{ alNumero }} {{ alType }} {{ alRue }} {{ alComplement }}, </p>
        <p>{{ alVille }} {{ alCp }}, {{ alPays }}</p>

        {% for titre in livreTitre %}
        <p>{{ titre }}</p>    
        {% endfor %}
        {% for prix in livrePrix %}
        <p>{{ prix }}</p>
        {% endfor %}
        


</body>

</html>

{# 
    Adresse Boutique
    Telephone Boutique
    Nom propriétaire
    Prenom propriétaire

    Titre du livre
    Quantité de chaque livre
    Prix de chaque livre
    Code ISBN
    
    Nom client
    Prenom client
    Genre (Monsieur/Madame)

    Adresse facturation
    Adresse Livraison
    
    #}