<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <h1>Vesoul Edition</h1>
    <p>
        Articles, prix, total, tout ce qu'on peut trouver sur une facture
    </p>
    {% for row in test %}
    {{ id }}-IT
        <p>Date de commande : {{ row.date|date("d/m/y") }}</p>
        <p>Client : {{ row.firstname }} {{ row.lastname }}</p>
        <p>Numéro de commande : {{ row.number }}</p>
        <p>Quantité : {{ row.quantity }}</p>
        <p>Total : {{ row.totalcost }}</p>
        {# <p>{{ row.COUNT(book.isbn) }}</p> #}
    {% endfor %}
</body>

</html>

{# 
    Adresse Boutique
    Telephone Boutique
    Nom propriétaire
    Prenom propriétaire

    Titre du livre
    Quantité de chaque livre
    Prix de chaque livre  
    
    Nom client
    Prenom client
    Genre (Monsieur/Madame)
    Adresse facturation
    Adresse Livraison
    
    
    #}