<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <h1>Vesoul Edition</h1>
    <p>
        Articles, prix, total, tout ce qu'on peut trouver sur une facture
    </p>
    {% for row in test %}
    <p>{{ row.date|date("d/m/y") }}</p>
    <p>{{ row.title }}</p>
    <p>{{ row.number }}</p>
    <p>{{ row.user.lastname }}</p>
    <p>{{ row.user.firstname }}</p>
    <p>{{ row.livraison.street }}</p>
    {% endfor %}
</body>

</html>